<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Mon Portfolio</title>
    <meta name="description" content="Portfolio Harel Marin étudiant à Ynov aix campus">
    <script src="../assets/js/script.js" defer></script>
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <meta name="theme-color" content="#BAC493">
</head>
<body>
   <header>
    <div class="container-header">
    <h1> HAREL MARIN </h1>
    <h3> Je suis <span class="dynamic-text"></span></h3>
    </div>
    </header>
</body>