<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Mon Portfolio</title>
    <meta name="description" content="Portfolio Harel Marin étudiant à Ynov aix campus">
    <script src="../assets/js/script.js" defer></script>
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <meta name="theme-color" content="#BAC493">
</head>
<body>
   <header id="header">
    <div class="container-header hidden">
    <h1> HAREL MARIN </h1>
    <h3> Je suis <span class="dynamic-text"></span></h3>
    <a href="https://github.com/harelmarin" target="_blank"> <img src="../assets/img/github-mark-white.svg" alt="github" class="icon"></a>
    </div>
    <div class="container-fleche">
        <a href="#projects"><img src="../assets/img/Flèche.svg"> </a>
         </div>
    </header>

    <main>
        <div class="container-titre hidden">
        <h2 class="hidden"> MES PROJETS </h2>
        </div>

        <section id="projects" class="container-projets hidden">
           
            <div class="container-flex hidden">
                <div class="video-container">
                <video class="video-item" src="../assets/img/wethefoot.mp4" muted></video>
                <div class="video-details">
                    <h2>Boutique E-Commerce (Back JS + MySQL)</h2>
                </div>
                </div>

                <div class="video-container">
                    <video class="video-item" src="../assets/img/BlogYmmersion.MP4" muted></video>
                    <div class="video-details">
                        <h2>Blog (Golang + Json) </h2>
                    </div>
                    </div>

                    <div class="video-container">
                        <video class="video-item" src="../assets/img/Groupie.mp4" muted></video>
                        <div class="video-details">
                            <h2>Site affichage API (Golang + APIRESTful) </h2>
                        </div>
            </div>

        </section>
    </main>

</body>
</html>


